html {background-color: #007bff;}

nav {background-color: #002847}

header {text-align: center;}

.container {border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;}

h2 {text-align: center;
    background-color: #cccccc;}

.center {display: block;
         margin-left: auto;
         margin-right: auto;}

p {text-align: justify;}

#nav1 {color: blue;}

#nav2 {color: #ff0080;}

#nav3 {color: #e60000;}

#nav4 {color: #e6b800;}

#nav5 {color: #b13f44;}

#nav6 {color: #4B9CD3}

.fa {padding: 20px;
     font-size: 30px;
     width: 50px;
     text-align: center;
     text-decoration: none;}

.fa:hover {opacity: 0.7;}

.fa-instagram {background: #125688;
               color: white;}

.fa-facebook {
  background: #3B5998;
  color: white;
}